In [1]:
import torch
import torch.nn as nn
import torch.optim
from torch.utils.data import Dataset, DataLoader
from torchsummary import summary
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
device = "mps" if torch.mps.is_available() else "cpu"
device

'mps'

In [4]:
df = pd.read_csv('datasets/riceClassification.csv')

In [5]:
df.head()

   id  Area  MajorAxisLength  ...  Roundness  AspectRation  Class
0   1  4537        92.229316  ...   0.764510      1.440796      1
1   2  2872        74.691881  ...   0.831658      1.453137      1
2   3  3048        76.293164  ...   0.868434      1.465950      1
3   4  3073        77.033628  ...   0.870203      1.483456      1
4   5  3693        85.124785  ...   0.874743      1.510000      1

[5 rows x 12 columns]

In [6]:
df.isna().sum()

id                 0
Area               0
MajorAxisLength    0
MinorAxisLength    0
Eccentricity       0
ConvexArea         0
EquivDiameter      0
Extent             0
Perimeter          0
Roundness          0
AspectRation       0
Class              0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.drop(columns='id', inplace=True)

In [9]:
df.head()

   Area  MajorAxisLength  MinorAxisLength  ...  Roundness  AspectRation  Class
0  4537        92.229316        64.012769  ...   0.764510      1.440796      1
1  2872        74.691881        51.400454  ...   0.831658      1.453137      1
2  3048        76.293164        52.043491  ...   0.868434      1.465950      1
3  3073        77.033628        51.928487  ...   0.870203      1.483456      1
4  3693        85.124785        56.374021  ...   0.874743      1.510000      1

[5 rows x 11 columns]

In [10]:
df.shape

(18185, 11)

In [12]:
df['Class'].value_counts()

Class
1    9985
0    8200
Name: count, dtype: int64

In [13]:
original_df = df.copy()

In [14]:
for column in df.columns:
    df[column] = df[column]/df[column].abs().max()

df.head()

       Area  MajorAxisLength  MinorAxisLength  ...  Roundness  AspectRation  Class
0  0.444368         0.503404         0.775435  ...   0.844997      0.368316    1.0
1  0.281293         0.407681         0.622653  ...   0.919215      0.371471    1.0
2  0.298531         0.416421         0.630442  ...   0.959862      0.374747    1.0
3  0.300979         0.420463         0.629049  ...   0.961818      0.379222    1.0
4  0.361704         0.464626         0.682901  ...   0.966836      0.386007    1.0

[5 rows x 11 columns]

In [15]:
X = df.drop(columns='Class')
y = df['Class']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, stratify=y_test, random_state=42)

In [21]:
print(X_train.shape)
print(X_test.shape)
print(X_val.shape)

(12729, 10)
(2728, 10)
(2728, 10)

In [22]:
print(y_train.shape)
print(y_test.shape)
print(y_val.shape)

(12729,)
(2728,)
(2728,)